.App {
  text-align: top;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.weather { 
  color:#c8f7c5;
}

.link-style {
  color:#736598;
  text-decoration: none;
}

.link-style:hover {
  text-decoration: underline;
  color:#aea8d3 ;
}

.button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width:10em;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #282c34;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.winner {
  color: #2abb9b;
}

.loser {
  color: #E74C3C;
}

.game-date {
  font-size:medium;
  color:#61dafb;
}

table {
  border-collapse: collapse;
}

tr.bottom-border td {
  padding-bottom:1em;
}

td {
  padding: 0em 1em;
}

td.search {
  padding: 0em 5px;
}

.team-logo {
  height: 100px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
